<h1 ><span class="text-blue" style="font-weight: 700;">Welcome to Chicago Super Rich</span></h1>
<p class="about">Chicago Super Rich is a ypublic domain website that list some of Chicago's rishest zip codes and the folks that live there.</p>

<p>Want to study the rich and successful? Just look them up online. What once took a few hours of scouring the internet is now conveniently all in one space.</p>

<!--<p></p>-->

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
