<h1 ><span class="text-blue" style="font-weight: 700;">Welcome to SingHost</span></h1>
<p class="about">SingleHost is a hospitality direct booking website offered to Airbnb, VRBO, and HomeAway hosts who want a better solution to offer their accommodations whithout the hassel of state, county, city, or other listing fees.</p>

<p>We know how difficult it is to find affordable booking software that's not only easy on the pockets but a platform that offers the same great benefits that of the big boys. SingleHost makes it easier for you to connect, network, 
and foster key social and business relationships with your guest.</p>

<p>A booking website that tailored speciffically for you and your vacation home goes unmatched and provideds a great experience for both you the host and your guest.</p>

<!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
