<div class="container">
  <div class="text-pull-left">
		<h2>Rich People of Chicago</h2>
		<p>Welcome to our humbled abode. We hope that you enjoy your stay!</p>
	</div>
	
	<% @homes.each do |home| %>
		<div class="col-md-4">
    	<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag home.photos[0].image.url(:medium) if home.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<div><%= link_to home.listing_name, home %></div>
					<div><%= home.address %></div>
					<div>Purchase Price: $<%= home.price %></div>	
				</div>
			</div>
		</div>
	<% end %>
</div>

<br>

<!--<div class="text-center">-->
<!--	<h2>There is something to do each week</h2>-->
<!--	<p>See where the fun is at.</p>-->
<!--</div>-->

<br>