<div class="container">
  <div class="text-pull-left">
		<h2>Make yourself at home<span> and experience our city like none other!</span></h2>
		<p>Welcome to our humbled abode. We hope that you enjoy your stay!</p>
	</div>
	
	<% @rooms.each do |room| %>
		<div class="">
    	<!--<div class="panel panel-default">-->
				<div class="panel-heading preview">
					<%= image_tag room.photos[0].image.url() if room.photos.length > 0 %>
				</div>
				<!--<div class="panel-body">-->
					<button class="btn btn-form btn-small">
            <%= link_to "Book Now", room, style: "color: white; text-decoration: none;" %>
          </button>	
				<!--</div>-->
			<!--</div>-->
		</div>
	<% end %>
</div>

<br>

<div class="text-center">
	<h2>There is something to do each week</h2>
	<p>See where the fun is at.</p>
</div>

<br>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});
		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>